/* Fluid Layout using Grid */
@font-face {
  font-family: ownFont;
  src: url(./assets/Cormorant-VariableFont_wght.ttf);
}
* {
  font-family: ownFont;
}
.logo{
  width: 50px;
  height: 50px;
  fill: white ;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

  }
  
  header, nav, main, footer {
    padding: 20px;
  }
  
  /* Navigation Links */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333333;
  }
  
  nav ul li a:hover {
    color: #ff0000;
  }

  .nav{
      position: fixed;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: rgba(7, 7, 7, 0.5); /* Black background with 0.5 opacity */

    }
  .nav-ul{
      width: 500px;
  }
  .nav-ul  >li > a{
    color: #f7f7f7 !important;

  }
  .nav-ul  >li > a :hover{
    color: magenta !important;
    }
  .form{
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-evenly;
  }
  .main-board{
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
        background-image: url(./assets/animeimg.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
  .main-content{
    left: 211px;
top: 272px;
      display: flex;
      flex-direction: column;
      height: 266px;
      width: 924px;
      
      font-style: normal;
      font-weight: 700;
      font-size: 70px;
      line-height: 133px;
      color: #ffffff 
  }
  .main-sub{
    font-size: 30px;
  }
  .about{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: row;
  }
  .abt-content{
      width: 50%;
  }
  .line{
    width: 70%;
    height: 2px;
    background-color: #4e380a;
    margin-left: 40px;
    margin-top: 68px;
  }
  .heading{
    display: flex;
    
    
  }
  .abt-box{
    margin-top: 166px;
    margin-left: 70px;
    max-width: 600px;
    height: 400px;
  }
  .sub-heading{
    font-weight: 700;
  font-size: 64px;
margin-block-start: 0.43em;
margin-block-end: 0.43em;
margin-bottom: 60px;
  }
  .abt-box>p{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 130.4%;
  }
  .abt-img{
      background-image: url(./assets/animg.jpg);
      background-repeat: no-repeat;
      background-position: 25% 75%;
      background-size: cover;
      width: 733px;
      height: 487.63px;
      margin-left: 25px;
      margin-top: 150px;

  }
  .news{
      width: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      color:white;
      height: 300px;
  }
  .wel{
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color:white;
      background-color: goldenrod;
      background-image: url(./assets/goldimage.jpg);
      background-repeat: no-repeat;
      background-position: center bottom;
  }
  .cards{

      min-height: 575px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      
    }
    @media  (max-width: 1370px ) {
      .cards {
        display: grid;
        grid-template-columns: auto auto;
                grid-gap: 30px;
    }
  }
  .contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
    color: white;
    cursor: pointer;
  }
  .card{
    width: 300px !important;
    height: 500px;
    max-height: 600px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease; /* Transition effect for the box shadow */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
  .card-img{
    height: 300px;
    object-fit:contain;
    background-size: cover; 
    background-position: center;

  }
  .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  }
  .card>h3{
    margin-left: 10px;
    font-weight: 700;
font-size: 30px;
margin-top: 20px;
margin-bottom: 0px;

  }
  .card-content{
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-top: 16px !important;
    max-width: 280px;

  }
  .myloc{
    margin-top:75px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-image: url(./assets/emptyroom.png);
      background-repeat: no-repeat;
      background-position: 25% 75%;
      background-size: cover;
  }
.myloc > h1{
    color: #f7f7f7;
    font-size: 40px;
}
.myloc>h3{
    font-size: 18px;
    color: #f7f7f7;
}

button{
    border-width: 0;
    border-style: solid;
    border-radius: 0;
    box-shadow: inset 0 0 0 0;
    background-color: #cc9933;
    color: #ffffff;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition:0.3s ease; /* Transition effect for the box shadow */

}
button:hover{
    background-color: #94722e;
}
  /* styles for footer*/
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #4e380a;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
      
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }